/* Color Variables */
:root {
	--purple: #7d3cff;
	--yellow: #f2d53c;
	--red: #c80e13;
	--background: #fceed1;
	--black: #545454;
}

/* CSS Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono", monospace;
}

h1 {
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 2.5rem;
	color: var(--black);
}

#tac {
	color: var(--purple);
}

body {
	display: grid;
	justify-content: center;
	background-color: var(--background);
}

#wrapper {
	background-color: var(--purple);
	border-radius: 50px;
	margin: 50px;
	padding: 50px;
}

#statusBar {
	display: flex;
	justify-content: space-around;
	color: var(--background);
	font-weight: bold;
}

#resetButton {
	cursor: pointer;
}

#resetButton:hover {
	color: var(--red);
}

.board {
	margin-top: 25px;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: var(--background);
}

.square {
	cursor: pointer;
	height: 200px;
	width: 200px;
	background-color: var(--purple);
}

.x::after {
	content: "♔";
}

.o::after {
	content: "♕";
}

.x,
.o {
	font-size: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* @media only screen and (max-width: 540px) {
	#square {
		width: 100px;
		height: 100px;
	}
}
@media only screen and (max-width: 800px) {
	#square {
		width: 400px;
		height: 400px;
	}
} */
